<div class="row mt-5">
    <div class="col s12 m6 offset-m3">
        <div class="card center-align">
            <div class="card-content">
                <h3><i class="fas fa-user-plus"></i> Register</h3>
                <form action="/user/register" method="POST"  class="mt-3">
                    {{> _messages}}
                    <div class="input-field">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="validate" {{#if name}} value="{{name}}"
                            {{else}} value="" {{/if}} />
                    </div>
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="validate" {{#if email}} value="{{email}}"
                            {{else}} value="" {{/if}} />
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="validate" {{#if password}} value="{{password}}"
                            {{else}} value="" {{/if}} />
                    </div>
                    <div class="input-field">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" name="password2" class="validate" {{#if password2}} value="{{password2}}"
                            {{else}} value="" {{/if}} />
                    </div>
                    <button type="submit" class="btn btn-large red darken-3 white-text">Register</button>
                </form>
                <p class="mt-3">Have An Account? <a href="/user/login" class="red-text text-darken-3">Login</a></p>
            </div>
        </div>
    </div>
</div>